.app.dark {
    --bg-color: #260d54;
    --inverted-bg-color: #EAD7BB;
    --primary-color: #00736b;
    --secondary-color: #00736b74;
    --inverted-primary-color: #113946;
    --inverted-secondary-color: #11394690;
}