.app.light {
  --bg-color: #EAD7BB;
  --inverted-bg-color: #260d54;

  --primary-color: #113946;
  --secondary-color: #11394690;
  --inverted-primary-color: #00736b;
  --inverted-secondary-color: #00736b74;
}